<nav>
  <div class="nav-container">
    <button id="burger" aria-label="Toggle menu">☰</button>
    <a href="/index" class="site-name">Vinh Nguyen</a>
    <ul class="nav-menu" id="nav-menu">
      <li><a href="/pages/about">About</a></li>
      <li><a href="/pages/projects">Projects</a></li>
      <li><a href="/pages/experience">Experience</a></li>
      <li><a href="/pages/misc">Miscellaneous</a></li>
      <li><a href="/pages/blog">Blog</a></li>
    </ul>
    <div class="nav-actions">
      <button id="dark-mode-toggle">
        <img src="/images/moon-svgrepo-com.svg" class="icon" />
      </button>
      <button id="translate-btn">
        <img src="/images/vietnam.svg" class="icon" />
      </button>
    </div>
  </div>
</nav>
