<nav>
  <div class="nav-container">
    <button id="burger" aria-label="Toggle menu">☰</button>
    <a href="/index" class="site-name">Nguyễn Vinh</a>
    <ul class="nav-menu" id="nav-menu">
      <li><a href="/pages/about">Giới thiệu</a></li>
      <li><a href="/pages/projects">Dự án</a></li>
      <li><a href="/pages/experience">Kinh nghiệm</a></li>
      <li><a href="/pages/misc.html">Linh tinh</a></li>
      <li><a href="/pages/blog">Blog</a></li>
    </ul>
    <button id="translate-btn">🇬🇧</button>
  </div>
</nav>
