<nav>
  <div class="nav-container">
    <div class="nav-left"></div>
    <!-- spacer -->
    <ul class="nav-menu">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/pages/about.html">About</a></li>
      <li><a href="/pages/projects.html">Projects</a></li>
      <li><a href="/pages/resume.html">Experience</a></li>
      <li><a href="/pages/contact.html">Contact</a></li>
      <li><a href="/pages/blog.html">Blog</a></li>
    </ul>
    <button id="translate-btn">🇻🇳 Tiếng Việt</button>
  </div>
</nav>
