<nav>
  <div class="nav-container">
    <button id="burger" aria-label="Toggle menu">☰</button>
    <a href="/index" class="site-name">Nguyễn Vinh</a>
    <ul class="nav-menu" id="nav-menu">
      <li><a href="/pages/about">Giới thiệu</a></li>
      <li><a href="/pages/projects">Dự án</a></li>
      <li><a href="/pages/experience">Kinh nghiệm</a></li>
      <li><a href="/pages/misc.html">Linh tinh</a></li>
      <li><a href="/pages/blog">Blog</a></li>
    </ul>
    <div class="nav-actions">
      <button id="dark-mode-toggle">
        <img src="/images/moon-svgrepo-com.svg" class="icon" />
      </button>
      <button id="translate-btn">
        <img src="/images/uk.svg" class="icon" />
      </button>
    </div>
  </div>
</nav>
